@charset "UTF-8";
table{
	width: 900px;
	height: auto;
	border-collapse: collapse;
	
}
th{
	background-color: #c0c0c0;
	
}
td{
	border-bottom: 1px solid red;
	
}
tr:hover {
	background-color: #c1c1c1;
}